packages:
  rpm:
    clickhouse-common-static: https://repo.clickhouse.tech/rpm/stable/x86_64/clickhouse-common-static-20.10.3.30-2.x86_64.rpm
    clickhouse-server: https://repo.clickhouse.tech/rpm/stable/x86_64/clickhouse-server-20.10.3.30-2.noarch.rpm
    clickhouse-client: https://repo.clickhouse.tech/rpm/stable/x86_64/clickhouse-client-20.10.3.30-2.noarch.rpm

Resources:
  AWSEBAutoScalingGroup:
    Metadata:
      AWS::CloudFormation::Authentication:
        S3Auth:
          type: "s3"
          buckets: ["elasticbeanstalk-eu-west-1-248727830636"]
          roleName:
            "Fn::GetOptionSetting":
              Namespace: "aws:autoscaling:launchconfiguration"
              OptionName: "IamInstanceProfile"
              DefaultValue: "aws-elasticbeanstalk-ec2-role"

files:
  "/tmp/cs-backup.tar.gz" :
    mode: "000755"
    owner: ec2-user
    group: ec2-user
    authentication: "S3Auth"
    source: # UNDONE -- set a source here


services:
  sysvinit:
    clickhouse-server:
      enabled: true
      ensureRunning: true
