packages:
  rpm:
    clickhouse-common-static: https://repo.clickhouse.tech/rpm/stable/x86_64/clickhouse-common-static-21.5.5.12-2.x86_64.rpm
    clickhouse-server: https://repo.clickhouse.tech/rpm/stable/x86_64/clickhouse-server-21.5.5.12-2.noarch.rpm
    clickhouse-client: https://repo.clickhouse.tech/rpm/stable/x86_64/clickhouse-client-21.5.5.12-2.noarch.rpm

services:
  sysvinit:
    clickhouse-server:
      enabled: true


option_settings:
  - namespace: aws:autoscaling:launchconfiguration
    option_name: BlockDeviceMappings
    value: /dev/sdj=snap-0c3d13ed32e3ea303
